html, body{
    margin:0;
    padding:0;
}
nav{
    position: fixed;
    width: calc(35vw + 80px);
    height: 100vh;
    overflow: auto;
    top:0;
    transition: .5s ease;
    z-index: 9999;
    left: 0;
    background: #fff;
}
ul{
    padding: 100px;
    list-style: none;
}
ul li{
    color: #000;
    letter-spacing: 2px;
    line-height: 1.5;
}
.push-left{
    transform: translate3d(-35vw, 0, 0);
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #000;
    opacity: 1;
   
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before{
    transform: translateY(-7px);
}
.menu-btn span::after{
    transform: translateY(7px);
}
.menu-btn{
    display: flex;
    align-items: center;
    width: 80px;
    cursor: pointer;
    position: fixed;
    height: 63px;
    z-index: 10000;
    justify-content: center;
}
.menu-btn-active span{
    height: 0;
}
.menu-btn-active span:before{
    transform: rotate(45deg);
}
.menu-btn-active span:after{
    transform: rotate(-45deg);
}
.logo,
.logo-mobile{
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    transition: .5s ease;
    right: 10px;
}
.logo-mobile{
    display: none;
}

@media screen and (max-width: 768px) {
    .push-left {
        transform: translate3d(-60vw, 0, 0);
    }
    .logo-mobile{
        display: block;
    }
    .menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #000;
    opacity: 1;
}
.open{
    width: calc(85vw + 80px);
}
.menu-btn-active span{
    height: 0;
}
.menu-btn-active{
    left: calc(96% - 80px);
}

    
}
@media screen and (max-width: 426px) {
    .open{
        width: calc(75vw + 80px);
    }
    .menu-btn-active{
        left: calc(93% - 80px);
    }
}