html, body{
    margin:0;
    padding:0;
}
a{
    transition: .5s ease;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: "FoundersGrotesk", sans-serif;
}
.head{
    
    display: none;
}
a:hover{
    color: #70706e;
}
nav{
    padding-left: 40px;
    position: fixed;
    width: calc(35vw + 80px);
    height: 100vh;
    overflow: auto;
    top:0;
    transition: .5s ease;
    z-index: 9999;
    left: 0;
    background: #fff;
}
ul{
    padding: 40px;
    padding-left: 0;
    list-style: none;
}
ul li{
    color: #000;
    letter-spacing: 2px;
    line-height: 1.5;
}
.push-left{
    transform: translate3d(-40vw, 0, 0);
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #000;
    opacity: 1;
   
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before{
    transform: translateY(-7px);
}
.menu-btn span::after{
    transform: translateY(7px);
}
.menu-btn{
    display: flex;
    align-items: center;
    width: 80px;
    cursor: pointer;
    position: fixed;
    height: 63px;
    z-index: 10000;
    justify-content: center;
}
.menu-btn-active span{
    height: 0;
}
.menu-btn-active span:before{
    transform: rotate(45deg);
}
.menu-btn-active span:after{
    transform: rotate(-45deg);
}
.logo,
.logo-mobile{
    width: 60px;
    height: 60px;
    background: #fff;
    position: absolute;
    transition: .5s ease;
    right: 10px;
}
.logo-mobile{
    display: none;
}
@media screen and (max-width: 1680px) {
    .push-left{
        transform: translate3d(-37vw, 0, 0);
    }
    .logo{
        right: 13px;
    }
}


@media screen and (max-width: 1440px) {
    .push-left{
        transform: translate3d(-38vw, 0, 0);
    }
}

@media screen and (max-width: 768px) {
    .head{
        display: block;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 10px;
        padding: 20px;
        padding-left: 0;
    }
    .logo{
        display: none;
    }
    .push-left {
        transform: translate3d(-60vw, 0, 0);
    }
    .logo-mobile{
        display: block;
    }
    .menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #000;
    opacity: 1;
}
.open{
    width: calc(85vw + 7vw);
}
.menu-btn-active span{
    height: 0;
}
.menu-btn-active{
    animation-duration: .6s;
    animation-name: slidein;
    left: calc(97vw - 10vw);
}

@keyframes slidein {
    from{
        left: 0;
    }
     to{
         left: calc(97vw - 10vw);
     }
 }

    
}
@media screen and (max-width: 448px) {
    .head{
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 10px;
        padding: 20px;
        padding-left: 0;
        display: block;
    }
    .logo{
        display: none;
    }
    .open{
        width: calc(78vw + 10vw);
    }
    .menu-btn-active{
        animation-duration: .6s;
        animation-name: slidein;
        left: calc(90vw - 10vw); 
    }
    @keyframes slidein {
       from{
           left: 0;
       }
        to{
            left: calc(90vw - 10vw);
        }
    }
}